spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: cfb
    password: ${password}
    url: jdbc:mysql://10.9.167.195:3306/emucoo-cfb?useUnicode=true&characterEncoding=utf-8&useSSL=true&autoReconnect=true&allowMultiQueries=true
  redis:
      cluster:
        nodes: 10.9.165.219:7000,10.9.165.219:7001,10.9.165.219:7002,10.9.106.93:7003,10.9.106.93:7004,10.9.106.93:7005

publicKey: MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJ8hIQck8O61Ev0F8C3YLQv6qwhZ7G4oMy53jwwiL/8L2n3aEHRtUySJlRDSV891M7+IksolgtHoyou9LaIJP9sCAwEAAQ==
password: gh9C+z6OhPoMFfBm0/oZXhidM9a5NBDIcqIgEXV4EH2pO8chIOEnJjMlrAb7uvlJHyUfwlrp2J+jjiEqylDAtw==

logging:
  config: classpath:logback-base.xml
  path: logs



### xxl-job admin address list：调度中心部署跟地址：如调度中心集群部署存在多个地址则用逗号分隔。执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"。
xxl.job.admin.addresses: http://106.75.103.226:8686/

### xxl-job executor address：执行器"AppName"和地址信息配置：AppName执行器心跳注册分组依据；地址信息用于"调度中心请求并触发任务"和"执行器注册"。执行器默认端口为9999，执行器IP默认为空表示自动获取IP，多网卡时可手动设置指定IP，手动设置IP时将会绑定Host。单机部署多个执行器时，注意要配置不同执行器端口；
xxl.job.executor.appname: emucoo-job
xxl.job.executor.ip:
xxl.job.executor.port: 9999

### xxl-job, access token：执行器通讯TOKEN，非空时启用
xxl.job.accessToken:

### xxl-job log path：执行器运行日志文件存储的磁盘位置，需要对该路径拥有读写权限
xxl.job.executor.logpath: /data/applogs/xxl-job/jobhandler/

### xxl-job log retention days：执行器Log文件定期清理功能，指定日志保存天数，日志文件过期自动删除。限制至少保持3天，否则功能不生效；
xxl.job.executor.logretentiondays: -1


