<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.SysUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="dpt_id" property="dptId" jdbcType="BIGINT" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_lock" property="isLock" jdbcType="BIT" />
    <result column="is_use" property="isUse" jdbcType="BIT" />
    <result column="is_admin" property="isAdmin" jdbcType="BIT" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="push_token" property="pushToken" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
  </resultMap>

  <!-- 查询用户的所有权限 -->
  <select id="queryAllPerms" resultType="string">
    select m.perms from sys_user_role ur
    LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
    LEFT JOIN sys_menu m on rm.menu_id = m.menu_id
    where ur.user_id = #{userId}
  </select>

  <!-- 查询用户的所有菜单ID -->
  <select id="queryAllMenuId" resultType="long">
    select distinct rm.menu_id from sys_user_role ur
    LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
    where ur.user_id = #{userId}
  </select>


  <select id="listUser" resultType="com.emucoo.dto.modules.user.UserVo">
    SELECT t1.id, t1.username,  t1.remark,  t1.real_name,
    t1.mobile,  t1.email, t1.is_use,  t1.sex , t1.lb_ids,
    (
    SELECT group_concat(role_name)
    FROM t_dept_role_union
    WHERE user_id = t1.id
    AND role_id != - 1
    and role_id is not null
    GROUP BY user_id
    ) as roleNames,
    (
    SELECT count(u_parent_id)
    from t_user_of_user
    where u_parent_id = t1.id
    )as subNum
    FROM t_user t1
    WHERE 1=1
    <if test="username != null  and username!=''">
      and username = #{username}
    </if>
    <if test="realName != null  and realName!=''">
      and real_name = #{realName}
    </if>
    <if test="email != null  and email!=''">
      and email = #{email}
    </if>
    <if test="mobile != null  and mobile!=''">
      and mobile = #{mobile}
    </if>

    <if test="dptId != null">
      and dpt_id = #{dptId}
    </if>

  </select>

</mapper>