<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TDeviceTypeMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TDeviceType">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tier" property="tier" jdbcType="INTEGER" />
        <result column="parent_type_id" property="parentTypeId" jdbcType="BIGINT"/>
        <result column="parent_type_name" property="parentTypeName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="brand_ids" property="Ids" jdbcType="VARCHAR"/>
        <result column="is_use" property="isUse" jdbcType="BIT" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="countDeviceTypesByKeyword" resultType="java.lang.Integer" parameterType="com.emucoo.model.TDeviceType">
        select count(id) from t_device_type
        where is_del = 0 and tier = 2
        <if test="name != null and name.trim() != '' ">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="parentTypeId != null and parentTypeId != 0">
            and parent_type_id = #{parentTypeId}
        </if>
        <if test="brandId != null ">
            and FIND_IN_SET(#{brandId}, brand_ids)
        </if>
        <if test="isUse != null" >
            and is_use = #{isUse}
        </if>
    </select>

    <select id="filterDeviceTypesByKeyword" resultType="com.emucoo.model.TDeviceType">
        select * from t_device_type
        where is_del = 0 and tier = 2
        <if test="deviceType.name != null and deviceType.name.trim() != '' ">
            and name like concat('%', #{deviceType.name}, '%')
        </if>
        <if test="deviceType.parentTypeId != null and deviceType.parentTypeId != 0">
            and parent_type_id = #{deviceType.parentTypeId}
        </if>
        <if test="deviceType.brandId != null ">
            and FIND_IN_SET(#{deviceType.brandId}, brand_ids)
        </if>
        <if test="deviceType.isUse != null" >
            and is_use = #{deviceType.isUse}
        </if>
        limit #{pageStart}, #{pageSz}
    </select>
    
    <update id="switchDeviceTypeUsage">
        update t_device_type set is_use = #{usage} where id = #{dvcId}
    </update>

    <update id="removeDeviceType">
        update t_device_type set is_del = 1 where id = #{deviceTypeId}
    </update>

    <select id="listTopDeviceTypes" resultType="com.emucoo.model.TDeviceType">
        select * from t_device_type where parent_type_id = 0
    </select>

    <select id="findChildren" resultType="com.emucoo.model.TDeviceType">
        select * from t_device_type where parent_type_id = #{deviceTypeId} and is_del != 1
    </select>
</mapper>
