<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TDeviceTypeMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TDeviceType">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_type_id" property="parentTypeId" jdbcType="BIGINT"/>
        <result column="parent_type_name" property="parentTypeName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="brand_ids" property="Ids" jdbcType="VARCHAR"/>
        <result column="is_use" property="isUse" jdbcType="BIT" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="countDeviceTypesByKeyword" resultType="java.lang.Integer">
        select * from t_device_type
        where (is_del is null or is_del = 0)
        <if test="keywork != null and keyword.trim() != '' ">
            and name like concat('%', #{keyword}, '%')
        </if>
        <if test="typeId != null and typeId != 0">
            and parent_type_id = #{typeId}
        </if>
    </select>

    <select id="filterDeviceTypesByKeyword" resultType="com.emucoo.model.TDeviceType">
        select * from t_device_type
        where (is_del is null or is_del = 0)
        <if test="keywork != null and keyword.trim() != '' ">
            and name like concat('%', #{keyword}, '%')
        </if>
        <if test="typeId != null and typeId != 0">
            and parent_type_id = #{typeId}
        </if>
        limit #{pageStart}, #{pageSz}
    </select>
    
    <update id="switchDeviceTypeUsage">
        update t_device_type set is_use = #{usage} where id = #{dvcId}
    </update>

    <update id="removeDeviceType">
        update t_device_type set is_del = 1 where id = #{deviceTypeId}
    </update>
</mapper>
