<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormAddItemValueMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TFormAddItemValue" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="form_addition_item_id" property="formAdditionItemId" jdbcType="BIGINT" />
    <result column="form_result_id" property="formResultId" jdbcType="BIGINT"/>
  </resultMap>

  <insert id="addAdditionItemList">
      INSERT INTO t_form_add_item_value
      (
        value,
        create_time,
        form_addition_item_id,
        form_result_id
      )VALUES
      <foreach collection="addList" item="item" separator=",">
        (#{item.value}, #{createTime}, #{item.id}, #{formResultId})
      </foreach>
  </insert>
</mapper>