<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormOpptMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TFormOppt">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="problem_id" property="problemId" jdbcType="BIGINT"/>
        <result column="oppt_id" property="opptId" jdbcType="BIGINT"/>
        <result column="oppt_name" property="opptName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="problem_type" property="problemType" jdbcType="BIT"/>
        <result column="sub_problem_id" property="subProblemId" jdbcType="BIGINT"/>
        <association property="opportunity" javaType="com.emucoo.model.TOpportunity">
            <id column="opportunity_id" property="id" jdbcType="BIGINT"/>
            <result column="opportunity_name" property="opptName" jdbcType="VARCHAR"/>
            <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        </association>
    </resultMap>

    <select id="fetchOpptIdsByProblemIds" resultType="java.lang.Long">
        select oppt_id
        from t_form_oppt
        <where>
            <if test="problemType != null and problemType > 0">
                problem_type=#{problemType} and
            </if>
            problem_id in
            <foreach collection="probIds" item="it" separator="," open="(" close=")">
                #{it}
            </foreach>
        </where>
    </select>

    <select id="findFormOpptListByPbmId" resultMap="BaseResultMap">
      SELECT
      formOppt.id,
      formOppt.oppt_id,
      formOppt.problem_id,
      formOppt.problem_type,
      formOppt.sub_problem_id,
      oppt.id AS opportunity_id,
      oppt.name AS oppt_name,
      oppt.create_user_id
      FROM t_form_oppt formOppt
      INNER JOIN t_opportunity oppt ON oppt.id = formOppt.oppt_id
      <if test="userId != null">
          AND (oppt.create_type = 1 OR (oppt.create_type = 2 AND oppt.create_user_id = #{userId}))
      </if>
      <if test="userId == null">
          AND oppt.create_type = 1
      </if>
      WHERE
      <if test="pbmIds != null">
          formOppt.problem_id IN
          <foreach collection="pbmIds" item="item" open="(" close=")" separator=",">
              #{item}
          </foreach>
          AND formOppt.problem_type = #{type}
      </if>
      <if test="subPbmIds != null">
          formOppt.sub_problem_id IN
          <foreach collection="subPbmIds" item="item" open="(" close=")" separator=",">
              #{item}
          </foreach>
          AND formOppt.problem_type = #{type}
      </if>

    </select>

    <delete id="dropByProblemIds">
        delete from t_form_oppt
        <where>
            problem_id in
            <foreach collection="list" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </where>
    </delete>

    <delete id="cleanFormOpptRelationByResultId">
        delete from t_form_oppt
        where oppt_id in
            (
                select id from t_opportunity where create_type=2 and id in
                    (select distinct oppt_id from `t_form_oppt_value` where form_result_id=#{resultId})
            )
    </delete>
</mapper>