<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormImptRulesMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TFormImptRules">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="count_num" property="countNum" jdbcType="INTEGER"/>
        <result column="discount_num" property="discountNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="form_main_id" property="formMainId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findFormImptRulesByFormMainId" resultMap="BaseResultMap">
        select * from t_form_impt_rules where form_main_id=#{id}
    </select>

    <insert id="upsertMulti" parameterType="java.util.List">
        insert into t_form_impt_rules (id, count_num, discount_num, create_time, modify_time, form_main_id)
        values
        <foreach collection="list" item="it" separator=",">
            (#{it.id}, #{it.countNum}, #{it.discountNum}, #{it.createTime}, #{it.modifyTime}, #{it.formMainId})
        </foreach>
        on duplicate key update count_num=values(count_num), discount_num=values(discount_num), modify_time=values(modify_time), form_main_id=values(form_main_id)
    </insert>

    <delete id="dropByFormMainId">
        delete from t_form_impt_rules where form_main_id=#{id}
    </delete>
</mapper>