<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormOpptValueMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TFormOpptValue">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="is_pick" property="isPick" jdbcType="BIT"/>
        <result column="sub_problem_unit_score" property="subProblemUnitScore" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="oppt_id" property="opptId" jdbcType="BIGINT"/>
        <result column="problem_id" property="problemId" jdbcType="BIGINT"/>
        <result column="sub_problem_id" property="subProblemId" jdbcType="BIGINT"/>
        <result column="oppt_name" property="opptName" jdbcType="VARCHAR"/>
        <result column="problem_value_id" property="problemValueId" jdbcType="BIGINT"/>
        <result column="sub_problem_value_id" property="subProblemValueId" jdbcType="BIGINT"/>
        <result column="problem_type" property="problemType" jdbcType="BIT"/>
        <result column="sub_header_id" property="subHeaderId" jdbcType="BIGINT"/>
        <result column="form_result_id" property="formResultId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectUnionFormOpptsByPbmIds" resultType="com.emucoo.model.TFormOpptValue">
        SELECT
        id,
        is_pick,
        sub_problem_unit_score,
        problem_type,
        problem_value_id,
        sub_problem_value_id,
        oppt_id,
        oppt_name
        FROM t_form_oppt_value
        WHERE problem_type = 1 AND is_pick = true AND problem_value_id IN
        <foreach collection="pbmValueIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
        GROUP BY oppt_id
        UNION ALL
        SELECT
        id,
        is_pick,
        sub_problem_unit_score,
        problem_type,
        problem_value_id,
        sub_problem_value_id,
        oppt_id,
        oppt_name
        FROM t_form_oppt_value
        WHERE problem_type = 2 AND is_pick = true AND sub_problem_value_id IN
        <foreach collection="subPbmValueIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
        GROUP BY oppt_id
    </select>

    <select id="findOpptsByResultId" parameterType="Long" resultType="com.emucoo.model.TFormOpptValue">
        SELECT
        id,
        is_pick,
        sub_problem_unit_score,
        problem_type,
        problem_value_id,
        sub_problem_value_id,
        oppt_id,
        oppt_name
        FROM t_form_oppt_value
        WHERE is_pick = true AND form_result_id = #{formResultId}
        GROUP BY oppt_id
    </select>
    <select id="selectUnionFormOpptsByPbmIdsAndOppt" resultType="com.emucoo.model.TFormOpptValue">
        SELECT
        id,
        is_pick,
        sub_problem_unit_score,
        problem_type,
        problem_value_id,
        sub_problem_value_id,
        oppt_id,
        oppt_name
        FROM t_form_oppt_value
        WHERE problem_type = 1 AND oppt_id = #{opptId} AND is_pick = TRUE AND problem_value_id IN
        <foreach collection="pbmValueIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>

        UNION ALL
        SELECT
        id,
        is_pick,
        sub_problem_unit_score,
        problem_type,
        problem_value_id,
        sub_problem_value_id,
        oppt_id,
        oppt_name
        FROM t_form_oppt_value
        WHERE problem_type = 2 AND oppt_id = #{opptId} AND is_pick = TRUE AND sub_problem_value_id IN
        <foreach collection="subPbmValueIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>

    </select>

    <select id="findOpptValuesByOpptIdAndResult" resultType="com.emucoo.model.TFormOpptValue">
        SELECT
        id,
        oppt_id,
        oppt_name,
        form_result_id
        FROM t_form_oppt_value
        WHERE oppt_id = #{opptId} AND is_pick = TRUE AND form_result_id IN
        <foreach collection="resultIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
        GROUP BY form_result_id
    </select>

    <select id="fetchOneSubPbmOpptValue" resultMap="BaseResultMap">
        select * from t_form_oppt_value where sub_problem_value_id=#{subProblemValueId} and
        sub_problem_id=#{subProblemId} and sub_header_id=#{subProblemHeaderId} and problem_type=#{problemType}
    </select>

    <select id="fetchOnePbmOpptValue" resultMap="BaseResultMap">
        select * from t_form_oppt_value where problem_value_id=#{problemValueId} and oppt_id=#{opptId} and
        problem_type=#{problemType}
    </select>

    <delete id="cleanByResultId">
        delete from t_form_oppt_value where form_result_id=#{resultId}
    </delete>
</mapper>