<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormCheckResultMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TFormCheckResult" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="form_main_id" property="formMainId" jdbcType="BIGINT" />
    <result column="form_main_name" property="formMainName" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="front_plan_id" property="frontPlanId" jdbcType="BIGINT" />
    <result column="score_rate" property="scoreRate" jdbcType="REAL" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="actual_total" jdbcType="VARCHAR" property="actualTotal"/>
    <result column="impt_item_deny_num" jdbcType="INTEGER" property="imptItemDenyNum"/>
    <result column="na_num" jdbcType="INTEGER" property="naNum"/>
    <result column="summary_img" jdbcType="VARCHAR" property="summaryImg"/>
    <result column="is_done" jdbcType="BIT" property="isDone"/>
    <result column="is_pass" jdbcType="BIT" property="isPass"/>
    <result column="result_can_use" jdbcType="BIT" property="resultCanUse"/>
    <result column="form_sub_pbm_id" jdbcType="BIGINT" property="formSubPbmId"/>
    <result column="form_pbm_id" jdbcType="BIGINT" property="formPbmId"/>
    <result column="parent_form_id" jdbcType="BIGINT" property="parentFormId"/>
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="saveFormResult" parameterType="com.emucoo.model.TFormCheckResult">
     UPDATE t_form_check_result
     SET
     summary = #{summary},
     score = #{score},
     score_rate = #{scoreRate},
     actual_total = #{actualTotal},
     impt_item_deny_num = #{imptItemDenyNum},
     na_num = #{naNum},
     summary_img = #{summaryImg},
     modify_time = #{modifyTime}
     WHERE front_plan_id = #{frontPlanId} AND form_main_id = #{formMainId}
  </update>
</mapper>