<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormValueMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TFormValue">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="from_type_id" property="fromTypeId" jdbcType="BIGINT"/>
        <result column="is_done" property="isDone" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="form_type_name" property="formTypeName" jdbcType="VARCHAR"/>
        <result column="score_rate" property="scoreRate" jdbcType="REAL"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <result column="is_pass" jdbcType="BIT" property="isPass"/>
        <collection property="formPbmValList" ofType="com.emucoo.model.TFormPbmVal" javaType="ArrayList">
            <id column="pbm_val_id" property="id" jdbcType="BIGINT"/>
            <result column="form_value_id" property="formValueId" jdbcType="BIGINT"/>
            <result column="form_problem_id" property="formProblemId" jdbcType="BIGINT"/>
            <result column="is_score" property="isScore" jdbcType="BIT"/>
            <result column="problem_schema_type" property="problemSchemaType" jdbcType="BIT"/>
            <result column="problem_name" property="problemName" jdbcType="VARCHAR"/>
            <result column="problem_description" property="problemDescription" jdbcType="LONGVARCHAR"/>
            <result column="problem_notes" jdbcType="VARCHAR" property="notes"/>
            <result column="sub_form_id_in_pbm" jdbcType="BIGINT" property="subFormId"/>
            <result column="check_method" jdbcType="VARCHAR" property="checkMethod"/>
            <result column="pbm_is_pass" property="isPass" jdbcType="BIT"/>
            <collection property="formSubPbmValList" ofType="com.emucoo.model.TFormSubPbmVal" javaType="ArrayList">
                <id column="sub_pbm_val_id" property="id" jdbcType="BIGINT"/>
                <result column="sub_problem_id" property="subProblemId" jdbcType="BIGINT"/>
                <result column="sub_problem_score" property="subProblemScore" jdbcType="INTEGER"/>
                <result column="sub_problem_name" property="subProblemName" jdbcType="VARCHAR"/>
                <result column="problem_value_id" property="problemValueId" jdbcType="BIGINT"/>
                <result column="sub_form_result_id" property="formResultId" jdbcType="BIGINT"/>
                <result column="sub_form_id_in_subpbm" jdbcType="BIGINT" property="subFormId"/>
                <result column="sub_is_pass" jdbcType="BIT" property="isPass"/>
                <result column="sub_is_score" property="isScore" jdbcType="BIT"/>
                <result column="sub_problem_notes" jdbcType="VARCHAR" property="notes"/>
                <result column="sub_problem_description" jdbcType="LONGVARCHAR" property="problemDescription"/>
                <result column="sub_check_method" jdbcType="VARCHAR" property="checkMethod"/>
            </collection>
        </collection>
    </resultMap>

    <delete id="cleanByResultId">
        delete from t_form_value where form_result_id=#{resultId}
    </delete>

    <select id="findTypeTreeValueListUntilSubPbm" parameterType="Long" resultMap="BaseResultMap">
      SELECT
      formValue.id,
      formValue.form_type_name,
      formValue.from_type_id,
      formValue.is_done,
      formValue.is_pass,
      formPbmVal.id AS pbm_val_id,
      formPbmVal.form_value_id,
      formPbmVal.form_problem_id,
      formPbmVal.is_score,
      formPbmVal.problem_name,
      formPbmVal.is_pass AS pbm_is_pass,
      formPbmVal.check_method,
      formPbmVal.notes AS problem_notes,
      formPbmVal.problem_description,
      formPbmVal.problem_schema_type,
      formPbmVal.sub_form_id AS sub_form_id_in_pbm,
      formSubPbmVal.id AS sub_pbm_val_id,
      formSubPbmVal.sub_problem_name,
      formSubPbmVal.sub_problem_id,
      formSubPbmVal.check_method AS sub_check_method,
      formSubPbmVal.sub_form_id AS sub_form_id_in_subpbm,
      formSubPbmVal.is_pass AS sub_is_pass,
      formSubPbmVal.is_score AS sub_is_score,
      formSubPbmVal.notes AS sub_problem_notes,
      formSubPbmVal.problem_description AS sub_problem_description
      FROM t_form_pbm_val formPbmVal
      RIGHT JOIN t_form_value formValue ON formPbmVal.form_value_id = formValue.id
      LEFT JOIN t_form_sub_pbm_val formSubPbmVal ON formSubPbmVal.problem_value_id = formPbmVal.id
      WHERE formValue.form_result_id = #{id}
      ORDER BY formPbmVal.id ASC
    </select>

    <select id="findTypeValueListByFormAndArrange" resultType="com.emucoo.model.TFormValue">
        SELECT
        formValue.id,
        formValue.form_type_name,
        formValue.from_type_id,
        formValue.score,
        formValue.score_rate,
        formValue.total
        FROM t_form_value formValue
        INNER JOIN t_form_check_result formResult ON formResult.id = formValue.form_result_id
        AND formResult.front_plan_id = #{arrangeId} AND formResult.form_main_id = #{formId}
    </select>
</mapper>