<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TFormTypeMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TFormType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="form_main_id" property="formMainId" jdbcType="BIGINT"/>
        <collection property="problems" ofType="com.emucoo.model.TFormPbm" javaType="ArrayList">
            <id column="form_pbm_id" property="id" jdbcType="BIGINT"/>
            <result column="check_method" property="checkMethod" jdbcType="VARCHAR"/>
            <result column="sub_form_id" property="subFormId" jdbcType="BIGINT"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <collection property="subProblems" ofType="com.emucoo.model.TFormSubPbm" javaType="ArrayList">
                <id column="form_sub_pbm_id" property="id" jdbcType="BIGINT"/>
                <result column="sub_check_method" property="checkMethod" jdbcType="VARCHAR"/>
                <result column="sub_pbm_form_id" property="subFormId" jdbcType="BIGINT"/>
                <result column="sub_problem_name" property="subProblemName" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findFormTypesByFormMainId" resultMap="BaseResultMap">
        select * from t_form_type where form_main_id=#{id}
    </select>

    <insert id="upsert" parameterType="com.emucoo.model.TFormType">
        insert into t_form_type (id, type_name, create_time, modify_time, form_main_id)
        values (#{id}, #{typeName}, #{createTime}, #{modifyTime}, #{formMainId})
        on duplicate key update type_name=#{typeName}, modify_time=#{modifyTime}, form_main_id=#{formMainId}
    </insert>

    <delete id="dropByFormMainId">
        delete from t_form_type where form_main_id=#{id}
    </delete>

    <select id="findFormTypeTreeUntilSubPbmByFormId" parameterType="Long" resultMap="BaseResultMap">
      SELECT
      formType.id,
      formType.type_name,
      formPbm.id AS form_pbm_id,
      formPbm.name,
      formPbm.check_method,
      formPbm.sub_form_id,
      formSubPbm.id AS form_sub_pbm_id,
      formSubPbm.sub_problem_name AS sub_problem_name,
      formSubPbm.check_method AS sub_check_method,
      formSubPbm.sub_form_id AS sub_pbm_form_id
      FROM t_form_pbm formPbm
      RIGHT JOIN t_form_type formType ON formPbm.form_type_id = formType.id
      LEFT JOIN t_form_sub_pbm formSubPbm ON formSubPbm.form_problem_id = formPbm.id
      WHERE formType.form_main_id = #{id}
      ORDER BY formType.id ASC
    </select>
</mapper>