<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TLoopSubPlanMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TLoopSubPlan" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cycle_begin" property="cycleBegin" jdbcType="DATE" />
    <result column="cycle_end" property="cycleEnd" jdbcType="DATE" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="dpt_id" property="dptId" jdbcType="BIGINT" />
  </resultMap>

  <insert id="addLoopSubPlan" parameterType="com.emucoo.model.TLoopSubPlan">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO t_loop_sub_plan
    (
      cycle_begin,
      cycle_end,
      plan_id,
      dpt_id,
      cur_cycle_count,
      create_time,
      modify_time
    ) VALUES (
      #{cycleBegin},
      #{cycleEnd},
      #{planId},
      #{dptId},
      #{curCycleCount},
      #{createTime},
      #{modifyTime}
    )
  </insert>

  <select id="findSubPlanByArrangeId" parameterType="Long" resultType="com.emucoo.model.TLoopSubPlan">
     SELECT
     id,
     cycle_begin,
     cycle_end,
     plan_id,
     dpt_id,
     cur_cycle_count
     FROM t_loop_sub_plan
     WHERE id =
     (
       SELECT
       sub_plan_id
       FROM t_front_plan
       WHERE id=#{frontPlanId}
     )
  </select>
</mapper>