<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TLoopWorkMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TLoopWork" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="work_id" property="workId" jdbcType="VARCHAR" />
    <result column="sub_work_id" property="subWorkId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="excute_user_id" property="excuteUserId" jdbcType="BIGINT" />
    <result column="excute_user_name" property="excuteUserName" jdbcType="VARCHAR" />
    <result column="audit_user_id" property="auditUserId" jdbcType="BIGINT" />
    <result column="audit_user_name" property="auditUserName" jdbcType="VARCHAR" />
    <result column="send_user_ids" property="sendUserIds" jdbcType="BIGINT" />
    <result column="work_status" property="workStatus" jdbcType="INTEGER" />
    <result column="work_result" property="workResult" jdbcType="INTEGER" />
    <result column="execute_begin_date" property="executeBeginDate" jdbcType="DATE" />
    <result column="execute_end_date" property="executeEndDate" jdbcType="DATE" />
    <result column="execute_remind_time" property="executeRemindTime" jdbcType="TIMESTAMP" />
    <result column="execute_deadline" property="executeDeadline" jdbcType="TIMESTAMP" />
    <result column="audit_deadline" property="auditDeadline" jdbcType="TIMESTAMP" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="VARCHAR" />
  </resultMap>
</mapper>