<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TLoopPlanMapper" >
  <resultMap id="planMap" type="com.emucoo.model.TLoopPlan" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="dpt_id" property="dptId" jdbcType="BIGINT" />
    <result column="is_use" property="isUse" jdbcType="BIT" />
    <result column="plan_start_date" property="planStartDate" jdbcType="DATE" />
    <result column="plan_end_date" property="planEndDate" jdbcType="DATE" />
    <result column="plan_cycle" property="planCycle" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <collection property="planFormRelationList" ofType="com.emucoo.model.TPlanFormRelation" javaType="ArrayList">
      <id column="form_main_id" property="formMainId" jdbcType="BIGINT"/>
      <result column="form_use_count" property="formUseCount" jdbcType="INTEGER"/>
    </collection>
  </resultMap>
  <insert id="addPlan" parameterType="com.emucoo.model.TLoopPlan">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO t_loop_plan
    (
      name,
      description,
      dpt_id,
      is_use,
      is_del,
      plan_start_date,
      plan_end_date,
      plan_cycle,
      org_id,
      create_time,
      modify_time
    ) VALUES (
      #{name},
      #{description},
      #{dptId},
      #{isUse},
      #{isDel},
      #{planStartDate},
      #{planEndDate},
      #{planCycle},
      #{orgId},
      #{createTime},
      #{modifyTime}
    )
  </insert>

  <update id="updatePlanById" parameterType="com.emucoo.model.TLoopPlan">
    UPDATE t_loop_plan
    SET name=#{name},
    description=#{description},
    dpt_id=#{dptId},
    plan_start_date=#{planStartDate},
    plan_end_date=#{planEndDate},
    plan_cycle=#{planCycle},
    modify_time=#{modifyTime}
    WHERE id=#{id}
  </update>

  <update id="modifyPlanStatusById" parameterType="com.emucoo.model.TLoopPlan">
    UPDATE t_loop_plan
    SET is_use=#{isUse},
    modify_time=#{modifyTime}
    WHERE id=#{id}
  </update>

  <update id="deletePlanById" parameterType="com.emucoo.model.TLoopPlan">
    UPDATE t_loop_plan
    SET is_del=#{isDel},
    modify_time=#{modifyTime}
    WHERE id=#{id}
  </update>

  <select id="findPlanListByCondition" parameterType="com.emucoo.model.TLoopPlan" resultType="com.emucoo.model.TLoopPlan">
    SELECT
    id,
    name,
    description,
    is_use
    FROM t_loop_plan
    <where>
      <if test="name != null and name != ''">
        name like '%${name}%'
      </if>
      <if test="isUse != null">
        AND is_use = #{isUse}
      </if>
      AND is_del = 0
    </where>
  </select>

  <select id="findPlanById" parameterType="com.emucoo.model.TLoopPlan" resultMap="planMap">
    SELECT
    plan.id,
    plan.name,
    plan.description,
    plan.dpt_id,
    plan.is_use,
    plan.plan_start_date,
    plan.plan_end_date,
    plan.plan_cycle,
    pf.form_main_id,
    pf.form_use_count
    FROM t_loop_plan plan
    INNER JOIN t_plan_form_relation pf
    ON pf.plan_id = plan.id
    WHERE plan.id=#{id}

  </select>
</mapper>