<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TOpportunityMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TOpportunity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="front_can_create" property="frontCanCreate" jdbcType="BIT"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="upsert" parameterType="com.emucoo.model.TOpportunity">
        insert into t_opportunity (id, type, name, is_del, is_use, description, front_can_create, create_type, create_time, modify_time, create_user_id, modify_user_id, org_id)
        values (#{id}, #{type}, #{name}, #{isDel}, #{isUse}, #{description}, #{frontCanCreate}, #{createType}, #{createTime}, #{modifyTime}, #{createUserId}, #{modifyUserId}, #{orgId})
        on duplicate key update type=#{type}, name=#{name}, is_del=#{isDel}, is_use=#{isUse}, description=#{description}, front_can_create=#{frontCanCreate}, create_type=#{createType}, modify_time=#{modifyTime}, modify_user_id=#{modifyUserId}, org_id=#{orgId}
    </insert>

    <select id="findChancePointsByName" resultMap="BaseResultMap">
        select * from t_opportunity
        <where>
            is_del != 1 and create_type = 1
            <if test="keyword != null and  keyword != ''">
                and name like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{startRow}, #{size}
    </select>
    <select id="countChancePointsByName" resultType="java.lang.Integer">
        select count(1) from t_opportunity
        <where>
            is_del != 1 and create_type = 1
            <if test="keyword != null and  keyword != ''">
                and name like concat('%',#{keyword}, '%')
            </if>
        </where>
    </select>

    <update id="removeByIds" parameterType="java.util.List">
        update t_opportunity set is_del = 1
        <where>
            id in
            <foreach collection="list" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </where>
    </update>

    <update id="changeIsUse" parameterType="java.util.List">
        update t_opportunity set is_use = #{state}
        <where>
            id in
            <foreach collection="ids" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </where>
    </update>

    <delete id="dropByIds">
        delete from t_opportunity
        <where>
            id in
            <foreach collection="list" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </where>
    </delete>

    <select id="findOpptsByPbmId" resultMap="BaseResultMap">
        select b.* from t_form_oppt a left join t_opportunity b on a.oppt_id=b.id where a.problem_id=#{id} and a.problem_type=1
    </select>

    <delete id="cleanOpptsByResultId">
        delete from t_opportunity where create_type=2 and id in (select distinct oppt_id from `t_form_oppt_value` where form_result_id=#{resultId});
    </delete>

    <select id="judgeExistsByName" resultType="java.lang.Integer">
        select count(*) from t_opportunity where create_type=1 and name=#{name} and is_del != 1
    </select>
</mapper>