<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TPlanFormRelationMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TPlanFormRelation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="form_main_id" property="formMainId" jdbcType="BIGINT" />
    <result column="fom_use_count" property="fomUseCount" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="addPlanFormRelation" parameterType="list">
    INSERT INTO t_plan_form_relation
    (
    plan_id,
    form_main_id,
    form_use_count,
    create_time,
    modify_time
    )VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.planId},#{item.formMainId},#{item.formUseCount},#{item.createTime},#{item.modifyTime})
    </foreach>
  </insert>
</mapper>