<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TReportMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TReport">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shopkeeper_name" property="shopkeeperName" jdbcType="VARCHAR"/>
        <result column="reporter_id" property="reporterId" jdbcType="BIGINT" />
        <result column="reporter_name" property="reporterName" jdbcType="VARCHAR"/>
        <result column="reporter_dpt_name" property="reporterDptName" jdbcType="VARCHAR"/>
        <result column="head_img_url" property="reporterHeadImgUrl" jdbcType="VARCHAR"/>
        <result column="check_form_time" property="checkFormTime" jdbcType="DATE"/>
        <result column="reporter_position" property="reporterPosition" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="shopkeeper_id" property="shopkeeperId" jdbcType="BIGINT"/>
        <result column="reporter_dpt_id" property="reporterDptId" jdbcType="BIGINT"/>
        <result column="reporter_position_id" property="reporterPositionId" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <result column="form_type" property="formType" jdbcType="INTEGER"/>
        <association property="reportUser" javaType="com.emucoo.model.TReportUser">
            <id column="report_user_id" property="id" jdbcType="BIGINT"/>
            <id column="user_id" property="userId" jdbcType="BIGINT"/>
            <id column="report_id" property="reportId" jdbcType="BIGINT"/>
            <id column="is_read" property="isRead" jdbcType="BIT"/>
        </association>
    </resultMap>

    <select id="fetchUnReadReport" resultType="com.emucoo.dto.modules.index.ReportItemVo">
        select a.is_read as isRead,
            b.id as reportId,
            b.reporter_name as reporterName,
            c.head_img_url as reporterHeadUrl,
            d.dpt_name as reportSourceName,
            0 as reportSourceType
        from t_report_user a
            left join t_report b on a.report_id=b.id
            left join sys_user c on b.reporter_id=c.id
            left join sys_dept d on b.reporter_dpt_id=d.id
        where
            a.user_id = #{userId} and a.is_read=0
    </select>

    <select id="fetchReceiveReport" resultType="com.emucoo.model.TReport">
        SELECT
        report.*
        FROM t_report report
        INNER JOIN t_report_user reportUser
        ON reportUser.report_id = report.id
        AND reportUser.user_id = #{userId}
        AND str_to_date(report.create_time,'%Y-%m') =str_to_date(#{month},'%Y-%m')
        ORDER BY report.create_time DESC
    </select>


    <select id="findReportByUser" resultMap="BaseResultMap">
        SELECT
        report.id,
        report.shop_name,
        report.reporter_name,
        report.form_type,
        report.reporter_dpt_name,
        report.create_time,
        reportUser.id AS report_user_id,
        reportUser.is_read,
        reportUser.user_id,
        user.head_img_url
        FROM t_report report
        INNER JOIN t_report_user reportUser ON reportUser.report_id = report.id
        AND reportUser.user_id = #{userId}
        INNER JOIN sys_user user ON user.id = report.reporter_id
        ORDER BY reportUser.is_read ASC, report.create_time DESC
    </select>

    <select id="countUnReadReport" resultType="java.lang.Integer">
        select count(b.id)
        from t_report_user a
            left join t_report b on a.report_id=b.id
            left join sys_user c on b.reporter_id=c.id
            left join sys_dept d on b.reporter_dpt_id=d.id
        where
            a.user_id = #{userId} and a.is_read=0
    </select>

    <insert id="saveReport" parameterType="com.emucoo.model.TReport">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_report
        (
          shop_name,
          shop_id,
          shopkeeper_name,
          shopkeeper_id,
          reporter_id,
          reporter_name,
          reporter_dpt_id,
          reporter_dpt_name,
          reporter_position_id,
          reporter_position,
          form_result_id,
          form_type,
          org_id,
          check_form_time,
          create_time,
          create_user_id
        )VALUES (
          #{shopName},
          #{shopId},
          #{shopkeeperName},
          #{shopkeeperId},
          #{reporterId},
          #{reporterName},
          #{reporterDptId},
          #{reporterDptName},
          #{reporterPositionId},
          #{reporterPosition},
          #{formResultId},
          #{formType},
          #{orgId},
          #{checkFormTime},
          #{createTime},
          #{createUserId}
        )
    </insert>

    <select id="findReportByFormIdAndTime" resultType="com.emucoo.model.TReport">
        SELECT
        report.id,
        report.shop_id,
        report.shop_name,
        report.reporter_position,
        report.reporter_name,
        report.form_result_id,
        report.create_time
        FROM t_report report
        INNER JOIN t_form_check_result result ON result.id = report.form_result_id
        AND result.form_main_id = #{formId}
        WHERE report.create_time BETWEEN #{beginDate} AND #{endDate}
        ORDER BY report.create_time ASC
    </select>

    <select id="getResultList" resultType="com.emucoo.dto.modules.shop.FormResultVO">
        select t1.id as reportId,t1.reporter_name as reporterName ,t1.check_form_time as checkFormTime,
        t2.score_rate as scoreRate,t2.form_main_name as formName,t2.form_main_id as formId,
        count(t3.id) as opptNum
        from t_report t1 left join t_form_check_result t2 on t1.form_result_id=t2.id
        left join t_report_oppt t3 on t1.id=t3.report_id
        where t1.shop_id=#{shopId}
        <if test="dptId != null">
            and t1.reporter_dpt_id=#{dptId}
        </if>
        <if test="startMonth != null and  startMonth != ''">
            <![CDATA[ and   str_to_date(#{startMonth},'%Y-%m') <= str_to_date(t1.check_form_time,'%Y-%m')]]>
        </if>
        <if test="endMonth != null and  endMonth != ''">
            <![CDATA[ and   str_to_date(t1.check_form_time,'%Y-%m') <= str_to_date(#{endMonth},'%Y-%m')]]>
        </if>
        <if test="formId != null">
        and  t2.form_main_id=#{formId}
        </if>
        group by t1.id
        order by t1.check_form_time desc
    </select>
</mapper>