<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TReportMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TReport">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shopkeeper_name" property="shopkeeperName" jdbcType="VARCHAR"/>
        <result column="reporter_id" property="reporterId" jdbcType="BIGINT" />
        <result column="reporter_name" property="reporterName" jdbcType="VARCHAR"/>
        <result column="reporter_dpt_name" property="reporterDptName" jdbcType="VARCHAR"/>
        <result column="head_img_url" property="reporterHeadImgUrl" jdbcType="VARCHAR"/>
        <result column="check_form_time" property="checkFormTime" jdbcType="DATE"/>
        <result column="reporter_position" property="reporterPosition" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="shopkeeper_id" property="shopkeeperId" jdbcType="BIGINT"/>
        <result column="reporter_dpt_id" property="reporterDptId" jdbcType="BIGINT"/>
        <result column="reporter_position_id" property="reporterPositionId" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <association property="reportUser" javaType="com.emucoo.model.TReportUser">
            <id column="report_user_id" property="id" jdbcType="BIGINT"/>
            <id column="user_id" property="userId" jdbcType="BIGINT"/>
            <id column="report_id" property="reportId" jdbcType="BIGINT"/>
            <id column="is_read" property="isRead" jdbcType="BIT"/>
        </association>
    </resultMap>

    <select id="fetchUnReadReport" resultType="com.emucoo.dto.modules.index.ReportItemVo">
        select a.is_read as isRead,
            b.id as reportId,
            b.reporter_name as reporterName,
            c.head_img_url as reporterHeadUrl,
            d.dpt_name as reportSourceName,
            0 as reportSourceType
        from t_report_user a
            left join t_report b on a.report_id=b.id
            left join sys_user c on b.reporter_id=c.id
            left join sys_dept d on b.reporter_dpt_id=d.id
        where
            a.user_id = #{userId} and a.is_read=0
    </select>

    <select id="findReportByUser" resultMap="BaseResultMap">
        SELECT
        report.id,
        report.shop_name,
        report.reporter_name,
        report.reporter_dpt_name,
        report.create_time,
        reportUser.id AS report_user_id,
        reportUser.is_read,
        reportUser.user_id,
        user.head_img_url
        FROM t_report report
        INNER JOIN t_report_user reportUser ON reportUser.report_id = report.id
        AND reportUser.user_id = #{userId}
        INNER JOIN sys_user user ON user.id = report.reporter_id
        ORDER BY reportUser.is_read ASC, report.create_time DESC
    </select>

    <select id="countUnReadReport" resultType="java.lang.Integer">
        select count(b.id)
        from t_report_user a
            left join t_report b on a.report_id=b.id
            left join sys_user c on b.reporter_id=c.id
            left join sys_dept d on b.reporter_dpt_id=d.id
        where
            a.user_id = #{userId} and a.is_read=0
    </select>

    <insert id="saveReport" parameterType="com.emucoo.model.TReport">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_report
        (
          shop_name,
          shop_id,
          shopkeeper_name,
          shopkeeper_id,
          reporter_id,
          reporter_name,
          reporter_dpt_id,
          reporter_dpt_name,
          reporter_position_id,
          reporter_position,
          form_result_id,
          org_id,
          check_form_time,
          create_time,
          create_user_id
        )VALUES (
          #{shopName},
          #{shopId},
          #{shopkeeperName},
          #{shopkeeperId},
          #{reporterId},
          #{reporterName},
          #{reporterDptId},
          #{reporterDptName},
          #{reporterPositionId},
          #{reporterPosition},
          #{formResultId},
          #{orgId},
          #{checkFormTime},
          #{createTime},
          #{createUserId}
        )
    </insert>
</mapper>