<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TShopInfoMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TShopInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="shop_desc" property="shopDesc" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="shop_manager_id" property="shopManagerId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="is_use" property="isUse" jdbcType="BIT" />
      <result column="type" property="type" jdbcType="INTEGER" />

  </resultMap>

  <select id="fetchShopsOfUser" resultMap="BaseResultMap">
    select a.* from t_shop_info a right join sys_user_shop b on a.id=b.shop_id where b.user_id=#{id}
  </select>

  <select id="selectShopListByUserAndAreaBrand" resultType="com.emucoo.model.TShopInfo">
      SELECT
      shop.id,
      shop.shop_name,
      shop.short_name,
      shop.shop_desc,
      shop.brand_id,
      shop.type,
      (
        SELECT brand.brand_name
        FROM t_brand_info brand
        WHERE brand.id = shop.brand_id
      ) AS brandName
      FROM t_shop_info shop
      INNER JOIN sys_user_shop userShop ON userShop.shop_id = shop.id
      AND userShop.user_id = #{userId}
      WHERE shop.area_id = #{areaId} AND shop.brand_id IN
      <foreach collection="brandList" item="item" open="(" close=")" separator=",">
          #{item.id}
      </foreach>
      AND shop.is_del = FALSE AND shop.is_use = TRUE
  </select>

  <select id="selectShopListByUserId" parameterType="Long" resultType="com.emucoo.model.TShopInfo">
    SELECT
    shopInfo.id,
    shopInfo.shop_name
    FROM sys_area area
    INNER JOIN sys_user_area userArea ON userArea.user_id = #{userId} AND userArea.is_del = FALSE
    AND userArea.area_id = area.id
    INNER JOIN t_shop_info shopInfo ON shopInfo.area_id = area.id AND shopInfo.brand_id IN
    <foreach collection="brandList" item="item" open="(" close=")" separator=",">
       #{item.id}
    </foreach>
    AND shopInfo.is_del = FALSE AND shopInfo.is_use = TRUE
    WHERE area.is_del = FALSE
  </select>
</mapper>