<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TShopInfoMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TShopInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="shop_desc" property="shopDesc" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="shop_manager_id" property="shopManagerId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="is_use" property="isUse" jdbcType="BIT" />
      <result column="type" property="type" jdbcType="INTEGER" />

  </resultMap>

  <select id="fetchShopsOfUser" resultMap="BaseResultMap">
    select a.* from t_shop_info a right join sys_user_shop b on a.id=b.shop_id where b.user_id=#{id}
  </select>

    <select id="getShopListByUserIDAndAreaID" resultType="com.emucoo.model.TShopInfo">
        SELECT t2.id,t2.shop_name,t2.shop_manager_id,t2.address,t2.tel,t2.area_id
            FROM sys_user_shop t1
            INNER JOIN t_shop_info t2 ON t1.shop_id = t2.id
            WHERE
            t1.user_id = #{userId} AND t2.area_id =  #{areaId}
            AND t1.is_del != TRUE AND t2.is_del != TRUE
            AND t2.is_use = TRUE
            UNION
            SELECT t4.id,t4.shop_name,t4.shop_manager_id,t4.address,t4.tel,t4.area_id
            FROM t_shop_info t4
            WHERE
            t4.shop_manager_id =  #{userId} AND t4.area_id = #{areaId}
            AND t4.is_del != TRUE AND t4.is_del != TRUE
            AND t4.is_use = TRUE
    </select>

  <select id="selectShopListByUserAndAreaBrand" resultType="com.emucoo.model.TShopInfo">
      SELECT
      shop.id,
      shop.shop_name,
      shop.short_name,
      shop.shop_desc,
      shop.brand_id,
      shop.type,
      (
        SELECT brand.brand_name
        FROM t_brand_info brand
        WHERE brand.id = shop.brand_id
      ) AS brandName
      FROM t_shop_info shop
      INNER JOIN sys_user_shop userShop ON userShop.shop_id = shop.id
      AND userShop.user_id IN
      <foreach collection="userIds" item="userid" open="(" close=")" separator=",">
          #{userid}
      </foreach>
      WHERE shop.area_id = #{areaId}
      AND shop.is_del = FALSE AND shop.is_use = TRUE
  </select>

  <select id="selectShopListByUserId" parameterType="Long" resultType="com.emucoo.model.TShopInfo">
    SELECT
    shopInfo.id,
    shopInfo.shop_name
    FROM t_shop_info shopInfo
    INNER JOIN sys_user_shop userShop ON userShop.shop_id = shopInfo.id
    AND userShop.user_id = #{userId}
    AND shopInfo.is_del = FALSE AND shopInfo.is_use = TRUE
  </select>
  <select id="selectShopListByUserIds" parameterType="ArrayList" resultType="com.emucoo.model.TShopInfo">
    SELECT
    shopInfo.id,
    shopInfo.shop_name
    FROM t_shop_info shopInfo
    INNER JOIN sys_user_shop userShop ON userShop.shop_id = shopInfo.id
    AND userShop.user_id IN
    <foreach collection="list" item="userid" open="(" close=")" separator=",">
      #{userid}
    </foreach>
    AND shopInfo.is_del = FALSE AND shopInfo.is_use = TRUE
  </select>
    <update id="updateByManagerId" parameterType="Long">
        UPDATE t_shop_info
        SET shop_manager_id = NULL
        WHERE shop_manager_id = #{userId}
    </update>
</mapper>