<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TTaskPersonMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TTaskPerson">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="dpt_id" property="dptId" jdbcType="BIGINT"/>
        <result column="dpt_name" property="dptName" jdbcType="VARCHAR"/>
        <result column="position_id" property="positionId" jdbcType="BIGINT"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="exec_type" property="execType" jdbcType="BIT"/>
        <result column="person_type" property="personType" jdbcType="BIT"/>
    </resultMap>

    <select id="fetchByTaskId" resultMap="BaseResultMap">
        select * from t_task_person where task_id=#{id}
    </select>

    <delete id="dropByTaskId">
        delete from t_task_person where task_id=#{taskId}
    </delete>
</mapper>