<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TTaskMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TTask">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="illustration_img_ids" property="illustrationImgIds" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="execute_deadline" property="executeDeadline" jdbcType="VARCHAR"/>
        <result column="execute_remind_time" property="executeRemindTime" jdbcType="VARCHAR"/>
        <result column="audit_dpt_id" property="auditDptId" jdbcType="BIGINT" />
        <result column="audit_dpt_name" property="auditDptName" jdbcType="VARCHAR" />
        <result column="audit_user_id" property="auditUserId" jdbcType="BIGINT"/>
        <result column="audit_deadline" property="auditDeadline" jdbcType="VARCHAR"/>
        <result column="execute_user_type" property="executeUserType" jdbcType="INTEGER"/>
        <result column="execute_user_ids" property="executeUserIds" jdbcType="VARCHAR"/>
        <result column="cc_user_ids" property="ccUserIds" jdbcType="VARCHAR"/>
        <result column="cc_position_ids" property="ccPositionIds" jdbcType="VARCHAR"/>
        <result column="score_type" property="scoreType" jdbcType="TINYINT"/>
        <result column="is_use" property="isUse" jdbcType="BIT"/>
        <result column="duration_time_type" property="durationTimeType" jdbcType="BIT"/>
        <result column="task_start_date" property="taskStartDate" jdbcType="DATE"/>
        <result column="task_end_date" property="taskEndDate" jdbcType="DATE"/>
        <result column="loop_cycle_type" property="loopCycleType" jdbcType="BIT"/>
        <result column="loop_cycle_value" property="loopCycleValue" jdbcType="VARCHAR"/>
        <result column="work_id" property="workId" jdbcType="VARCHAR"/>
        <result column="audit_type" property="auditType" jdbcType="BIT"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="oppt_id" property="opptId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT"/>
        <result column="audit_dpt_id" property="auditDptId" jdbcType="BIGINT"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="preinstall_score" property="preinstallScore" jdbcType="VARCHAR"/>
        <result column="preinstall_weight" property="preinstallWeight" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <result column="report_id" property="reportId" jdbcType="BIGINT"/>
        <result column="front_plan_id" property="frontPlanId" jdbcType="BIGINT"/>
        <collection property="workList" ofType="com.emucoo.model.TLoopWork" javaType="ArrayList">
            <id column="id" property="id" jdbcType="BIGINT"/>
        </collection>
    </resultMap>

    <select id="countCommonTaskByName" resultMap="BaseResultMap">
        select count(1) from t_task
        <where>
            is_del !=1 and type = 1
            <if test="keyword != null">
                and name like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="listCommonTaskByName" resultMap="BaseResultMap">
        select * from t_task
        <where>
            is_del != 1 and type = 1
            <if test="keyword != null">
                and name lime concat('%', #{keyword}, '%')
            </if>
        </where>
        order by modify_time desc
        limit #{pageStart}, #{pageSize}
    </select>

    <select id="judgeExistCommonTask" resultMap="BaseResultMap">
        select count(1) from t_task is_del != 1 and type = 1 and name = #{taskName}
    </select>

    <update id="removeCommonTaskByIds">
        update t_task set is_del = 1
        <where>
            type = 1 and id in
            <foreach collection="list" item="it" close=")" open="(" separator=",">
                #{it}
            </foreach>
        </where>
    </update>

    <update id="switchCommonTaskByIds">
        update t_task set is_use = #{sw}
        <where>
            type = 1 and id in
            <foreach collection="ids" item="it" close=")" open="(" separator=",">
                #{it}
            </foreach>
        </where>
    </update>

    <select id="filterAvailableCommonTask" resultType="com.emucoo.model.TTask">
        select * from t_task where is_del != 1 and #{tomorrow} between task_begin_date and task_end_date
    </select>

</mapper>