<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TTaskCommentMapper">
    <resultMap id="BaseResultMap" type="com.emucoo.model.TTaskComment">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="union_id" property="unionId" jdbcType="BIGINT"/>
        <result column="union_type" property="unionType" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="is_show" property="isShow" jdbcType="BIT"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="img_ids" property="imgIds" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="fetchByLoopWorkId" resultMap="BaseResultMap">
        select * from t_comment where union_id=#{loopWorkId} and is_del != 1
    </select>

    <select id="" resultType="com.emucoo.model.TTaskComment">
        select a.id, a.union_id as unionId, a.union_type as unionType, a.user_id as userId, a.user_name as userName,
            a.is_show as isShow, a.is_del as isDel, a.img_ids as imgIds, a.create_time as createTime,
            a.modify_time as modifyTime, a.create_user_id as createUserId, a.modify_user_id as modifyUserId,
            (select group_concat(b.img_url) from t_file b where find_in_set(b.id, group_concat(a.img_ids))) as imgUrls
        from t_comment a
        where a.union_id=#{workId} and a.union_type=#{workType} and a.is_del = 0
        limit #{pageStart}, #{pageSize}
    </select>

</mapper>