<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emucoo.mapper.TWorkTargetMapper" >
  <resultMap id="BaseResultMap" type="com.emucoo.model.TWorkTarget" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="kpi" property="kpi" jdbcType="VARCHAR" />
    <result column="work_content" property="workContent" jdbcType="VARCHAR" />
    <result column="purchase_date" property="purchaseDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
  </resultMap>
</mapper>