
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: emotwo
    password: ${password}
    url: jdbc:mysql://192.168.16.189:3306/611?useUnicode=true&characterEncoding=utf-8&useSSL=true&autoReconnect=true&allowMultiQueries=true
  redis:
    cluster:
      nodes: 192.168.16.188:7000,192.168.16.188:7001,192.168.16.188:7002,192.168.16.188:7003,192.168.16.188:7004,192.168.16.188:7005

publicKey: MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJ8hIQck8O61Ev0F8C3YLQv6qwhZ7G4oMy53jwwiL/8L2n3aEHRtUySJlRDSV891M7+IksolgtHoyou9LaIJP9sCAwEAAQ==
password: gh9C+z6OhPoMFfBm0/oZXhidM9a5NBDIcqIgEXV4EH2pO8chIOEnJjMlrAb7uvlJHyUfwlrp2J+jjiEqylDAtw==

logging:
  config: classpath:logback-base.xml
  path: logs


jiguangPush:
  isApnsProduction: false

xiaomiPush:
  isDebug: true


