spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: cfb
    password: ${password}
    url: jdbc:mysql://10.9.167.195:3306/emucoo-cfb?useUnicode=true&characterEncoding=utf-8&useSSL=true&autoReconnect=true&allowMultiQueries=true
  redis:
      cluster:
        nodes: 10.9.165.219:7000,10.9.165.219:7001,10.9.165.219:7002,10.9.106.93:7003,10.9.106.93:7004,10.9.106.93:7005

publicKey: MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALMw5boRzZA+RHqQH08QM//3I/wA5ZCXphD+n7TnGckif3WSNCCNz5ShyXKKhaADG3nsL4noaEYIxeERr+P7KF8CAwEAAQ==
password: E99fsFZBw3yyDKsRGE7NU1cFGYzz6mcSBthBFbB5XFGKrxH0BkX+p7Ek+/QhmRdfZ/dpsUV7iovK4NLpxSvkzQ==

logging:
  config: classpath:logback-base.xml
  path: logs

jiguangPush:
  isApnsProduction: true

xiaomiPush:
  isDebug: false