#展览用配置文件
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: emotwo
    password: ${password}
    url: jdbc:mysql://10.46.108.197:3306/emucooshow?useUnicode=true&characterEncoding=utf-8&useSSL=true&autoReconnect=true&allowMultiQueries=true
  redis:
    cluster:
      nodes: 10.46.96.153:7000,10.46.96.153:7001,10.46.96.153:7002,10.46.28.10:7003,10.46.28.10:7004,10.46.28.10:7005

publicKey: MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJ8hIQck8O61Ev0F8C3YLQv6qwhZ7G4oMy53jwwiL/8L2n3aEHRtUySJlRDSV891M7+IksolgtHoyou9LaIJP9sCAwEAAQ==
password: gh9C+z6OhPoMFfBm0/oZXhidM9a5NBDIcqIgEXV4EH2pO8chIOEnJjMlrAb7uvlJHyUfwlrp2J+jjiEqylDAtw==

logging:
  config: classpath:logback-base.xml
  path: logs

jiguangPush:
  isApnsProduction: false

xiaomiPush:
  isDebug: true

  #swagger api 文档 开关
  swagger:
    enable: false